:root {
    --fontFam: 'neon';
    --corFont: rgb(54, 54, 54);
    --corApoio: rgba(14, 14, 14, 0.5);
}

body {
    font-family: var(--fontFam);
    color: var(--corFont);
    margin: 0;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(45deg,#121013, #4d375d, #eb596e, #ee3960);
    background-size: 600% 600%;
    animation: colors 10s ease infinite;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--corApoio);
}

header img {
    width: 50px;
}

header h1 {
    font-size: 21px;
    margin: 5px 20px;
    color: white;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

/* INSTRUÇOES */

#instruct {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 20px;
    background-color: rgba(253, 253, 253, 0.5);
    border: 3px solid rgb(120, 141, 255);
    box-shadow: 10px 10px 30px rgba(36, 69, 255, 0.8);
    border-radius: 10%;
}

#instruct h2 {
    font-size: 30px;
    margin: 20px 0 5px;
}

#instruct p {
    font-size: 20px;
    width: 250px;
    margin: 5px 0 20px;
}
#instruct h3 {
    font-size: 24px;
    margin: 5px 0;
}

#instruct ul {
    width: 250px;
    margin: 0 0 20px 0;
    font-size: 20px;
}

/* JOGO */

#jogo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px ;
}

#jogadores {
    display: flex;
    justify-content: space-around;
    margin: 20px;
    font-family: "neon";
    font-size: 24px;
}

#jogador1 {
    margin: 0;
    font-size: 30px;
    color: rgb(255, 133, 200);
    text-shadow: 0px 0px 7px rgb(226, 22, 134);
}

#jogador2 {
    margin: 0;
    font-size: 30px;
    color: rgb(110, 255, 110);
    text-shadow: 0px 0px 7px rgb(30, 253, 30);
}

#player1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#player2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}



#gatinho1 {
    background-image: url(img/ballblack.png);
    background-size: cover;
    width: 70px;
    height: 70px;
    border-radius: 50px;
    margin: 0 10px;
} 

#gatinho2 {
    background-image: url(img/ballred.png);
    background-size: cover;
    width: 70px;
    height: 70px;
    border-radius: 50px;
    margin: 0 10px;
} 

#vs {
    
    height: auto;
    width: 60px;
    margin-top: 10px;
}

.ballRed {
    background-image: url(img/ballred.png);
    background-size: cover;
    width: 40px;
    height: 40px;
}

.ballBlack {
    background-image: url(img/ballblack.png);
    background-size: cover;
    width: 40px;
    height: 40px;
}

#board {
    display: flex;
    flex-direction: row;
}

.columns {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.celulas {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border: 2px solid rgb(169, 252, 252);
    border-radius: 20%;
    box-shadow: 5px 5px 20px rgb(1, 255, 255);
}

.hidden{
    display: none;
}

.borderGatinho1{
    text-shadow: 0px 0px 10px rgb(34, 97, 34);

}

.borderGatinho2{
    text-shadow: 0px 0px 10px rgb(175, 45, 45);
}

/* TELAS */

@media only screen and (min-width: 992px) {

    main {
        flex-direction: row;
    }

    #jogo {
        margin: 50px 20px 20px;
        flex-direction: row;
    }

    #jogadores {
        flex-direction: column;
        align-items: center;
    }    

    #player2 {
        flex-direction: column-reverse;
    }

    #gatinho1 {
        width: 70px;
    }

    #gatinho2 {
        width: 70px;
    }

    .celulas {
        width: 70px;
        height: 70px;
        
    }
    .ballBlack {
        width: 40px;
    }

    .ballRed {
        width: 40px;
    }
}

@media only screen and (min-width: 1024px) {

}


/* ANIMAÇÃO */

@keyframes colors {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@font-face {
    src: url(font/neon.ttf);
    font-family: "neon";
}
